{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "object-curly-spacing": ["warn", "always"],
    "arrow-parens": "off",
    "require-jsdoc": "off",
    "max-len": ["warn", { "code":  150 }],
    "comma-dangle": "off",
    "no-unused-vars": "off"
  },
  "extends": ["eslint:recommended", "google"]
}
